In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import Paycheck Protection Program Loan Information
ppp_sub_150_1 = pd.read_csv('public_up_to_150k_1.csv')
ppp_sub_150_2 = pd.read_csv('public_up_to_150k_2.csv')
ppp_sub_150_3 = pd.read_csv('public_up_to_150k_3.csv')
ppp_sub_150_4 = pd.read_csv('public_up_to_150k_4.csv')
ppp_sub_150_5 = pd.read_csv('public_up_to_150k_5.csv')
ppp_sub_150_6 = pd.read_csv('public_up_to_150k_6.csv')
ppp_sub_150_7 = pd.read_csv('public_up_to_150k_7.csv')
ppp_sub_150_8 = pd.read_csv('public_up_to_150k_8.csv')
ppp_sub_150_9 = pd.read_csv('public_up_to_150k_9.csv')
ppp_sub_150_10 = pd.read_csv('public_up_to_150k_10.csv')
ppp_sub_150_11 = pd.read_csv('public_up_to_150k_11.csv')
ppp_plus_150 = pd.read_csv('public_150k_plus.csv')

C:\Users\laura\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\laura\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#Combine PPP datasets
PPP_datasets = [ppp_sub_150_1,ppp_sub_150_2,ppp_sub_150_3,ppp_sub_150_4,ppp_sub_150_5,ppp_sub_150_6,
                ppp_sub_150_7,ppp_sub_150_8,ppp_sub_150_9,ppp_sub_150_10,ppp_sub_150_11,ppp_plus_150]
PPP_combined = pd.concat(PPP_datasets)
PPP_combined.head(10)

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit
0,5375617707,05/01/2020,101.0,PPP,NOT AVAILABLE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN
1,9677497701,05/01/2020,464.0,PPP,NORTH CHARLESTON HOSPITALITY GROUP LLC,192 College Park Rd,Ladson,NaN,29456-3517,NaN,...,NaN,NaN,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN
2,9547167709,05/01/2020,464.0,PPP,Q AND J SERVICES LLC,301 Old Georgetown Road,Manning,NaN,29102-2734,04/20/2021,...,NaN,NaN,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN
3,6448037706,05/01/2020,515.0,PPP,OPTIMIZED PROCESS SOLUTIONS DBA AAA INDUSTRIES,24500 CAPITOL,REDFORD,NaN,48239-2446,04/16/2021,...,NaN,NaN,Limited Liability Company(LLC),9551.0,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN
4,9609017706,05/01/2020,464.0,PPP,"D2 POWER SPORTS, LLC",125 Simuel Dr.,Spartanburg,NaN,29303-2085,NaN,...,NaN,NaN,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN
5,9789867710,05/01/2020,101.0,PPP,VULCAN MACHINERY CORPORATION,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Corporation,57328.0,The Huntington National Bank,COLUMBUS,OH,Male Owned,Non-Veteran,NaN
6,9589997709,05/01/2020,101.0,PPP,"TJK KITCHENS &AMP; BREWPUBS, LLC",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Limited Liability Company(LLC),57328.0,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN
7,6486007709,05/01/2020,914.0,PPP,SEAN T KY DDS INC,200 S EL MOLINO AVE STE 5,PASADENA,NaN,91101-2985,NaN,...,NaN,NaN,Corporation,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN
8,9662387700,05/01/2020,101.0,PPP,RON GOLDSTONE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,57328.0,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN
9,2767027201,04/16/2020,NaN,PPP,Exemption 6,NaN,NaN,NaN,NaN,02/18/2021,...,0.0,0.0,Subchapter S Corporation,NaN,NaN,NaN,NaN,Unanswered,Unanswered,NaN

In [4]:
PPP_combined.columns

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit'],
      dtype='object')

In [5]:
PPP_combined['Race'].unique()

array(['Unanswered', 'White', 'Black or African American', 'Asian',
       'American Indian or Alaska Native',
       'Native Hawaiian or Other Pacific Islander', 'Eskimo & Aleut',
       'Multi Group', 'Puerto Rican'], dtype=object)

In [6]:
PPP_combined['Ethnicity'].unique()

array(['Unknown/NotStated', 'Not Hispanic or Latino',
       'Hispanic or Latino'], dtype=object)

In [7]:
#Create new column for year of approval 
PPP_combined.loc[:,'YearApproved'] = PPP_combined['DateApproved'].str[-4:]

#Create new column for NAICS 6 digit in string format 
PPP_combined.loc[:,'NAICS_6'] = PPP_combined['NAICSCode'].apply(lambda y: str(y)[:6])

#Create new column identifying minority-owned businesses as identified by Race and Ethnicity columns
PPP_combined.loc[PPP_combined['Race'] == 'American Indian or Alaska Native', 'Minority'] = 'Yes'  
PPP_combined.loc[PPP_combined['Race'] == 'Asian', 'Minority'] = 'Yes'  
PPP_combined.loc[PPP_combined['Race'] == 'Black or African American', 'Minority'] = 'Yes'  
PPP_combined.loc[PPP_combined['Race'] == 'Hispanic', 'Minority'] = 'Yes'  
PPP_combined.loc[PPP_combined['Race'] == 'Multi Group', 'Minority'] = 'Yes'  
PPP_combined.loc[PPP_combined['Race'] == 'Puerto Rican', 'Minority'] = 'Yes' 
PPP_combined.loc[PPP_combined['Race'] == 'Native Hawaiian or Other Pacific Islander', 'Minority'] = 'Yes' 
PPP_combined.loc[PPP_combined['Race'] == 'Eskimo & Aleut', 'Minority'] = 'Yes' 
PPP_combined.loc[PPP_combined['Race'] == 'White', 'Minority'] = 'No'
PPP_combined.loc[PPP_combined['Race'] == 'Unanswered', 'Minority'] = 'Unanswered'
PPP_combined.loc[PPP_combined['Ethnicity'] == 'Hispanic or Latino', 'Minority'] = 'Yes'

In [8]:
#Import NAICS 6 and 4 digit concordance table
NAICS_codes = pd.read_csv('naics_data_rsei_v238.csv')
NAICS_codes['2017NAICSCode'] = NAICS_codes['2017NAICSCode'].apply(str)
NAICS_codes.head()

,2017NAICSCode,LongName,Changed2017,TRIIndustrySector,IndustrySubsector,4DigitNAICS,NewIndustry
0,111110,Soybean Farming,NaN,999 Other,1111 Oilseed and Grain Farming,1111,False
1,111120,Oilseed (except Soybean) Farming,NaN,999 Other,1111 Oilseed and Grain Farming,1111,False
2,111130,Dry Pea and Bean Farming,NaN,999 Other,1111 Oilseed and Grain Farming,1111,False
3,111140,Wheat Farming,NaN,999 Other,1111 Oilseed and Grain Farming,1111,False
4,111150,Corn Farming,NaN,999 Other,1111 Oilseed and Grain Farming,1111,False

In [9]:
#Merge NAICS 4 digit with PPP data and remove the 4 digit code from IndustrySubsector name
PPP_combined_NAICS = pd.merge(PPP_combined, NAICS_codes, how='left', left_on='NAICS_6', right_on='2017NAICSCode')
PPP_combined_NAICS.loc[:,'NAICS_4'] = PPP_combined_NAICS['4DigitNAICS'].apply(lambda y: str(y)[:4])
PPP_combined_NAICS = PPP_combined_NAICS.drop(['2017NAICSCode','Changed2017','TRIIndustrySector','NewIndustry','4DigitNAICS'], axis=1)
PPP_combined_NAICS['IndustrySubsector'] = PPP_combined_NAICS['IndustrySubsector'].str[5:]
PPP_combined_NAICS.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,OriginatingLenderState,Gender,Veteran,NonProfit,YearApproved,NAICS_6,Minority,LongName,IndustrySubsector,NAICS_4
0,5375617707,05/01/2020,101.0,PPP,NOT AVAILABLE,NaN,NaN,NaN,NaN,NaN,...,NC,Unanswered,Unanswered,NaN,2020,339114,Unanswered,Dental Equipment and Supplies Manufacturing,Medical Equipment and Supplies Manufacturing,3391
1,9677497701,05/01/2020,464.0,PPP,NORTH CHARLESTON HOSPITALITY GROUP LLC,192 College Park Rd,Ladson,NaN,29456-3517,NaN,...,GA,Unanswered,Unanswered,NaN,2020,nan,Unanswered,NaN,NaN,nan
2,9547167709,05/01/2020,464.0,PPP,Q AND J SERVICES LLC,301 Old Georgetown Road,Manning,NaN,29102-2734,04/20/2021,...,GA,Unanswered,Unanswered,NaN,2020,541990,Unanswered,"All Other Professional, Scientific, and Techni...","Other Professional, Scientific, and Technical ...",5419
3,6448037706,05/01/2020,515.0,PPP,OPTIMIZED PROCESS SOLUTIONS DBA AAA INDUSTRIES,24500 CAPITOL,REDFORD,NaN,48239-2446,04/16/2021,...,NC,Male Owned,Non-Veteran,NaN,2020,nan,Unanswered,NaN,NaN,nan
4,9609017706,05/01/2020,464.0,PPP,"D2 POWER SPORTS, LLC",125 Simuel Dr.,Spartanburg,NaN,29303-2085,NaN,...,GA,Unanswered,Unanswered,NaN,2020,999990,Unanswered,NaN,NaN,nan

In [10]:
PPP_combined_NAICS['BorrowerState'].unique()

array([nan, 'AE', 'AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC',
       'DE', 'FI', 'FL', 'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS',
       'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT',
       'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR',
       'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT',
       'WA', 'WI', 'WV', 'WY'], dtype=object)

In [11]:
PPP_combined_NAICS_CA = PPP_combined_NAICS[PPP_combined_NAICS['BorrowerState']=='CA']
PPP_combined_NAICS_CA.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,OriginatingLenderState,Gender,Veteran,NonProfit,YearApproved,NAICS_6,Minority,LongName,IndustrySubsector,NAICS_4
392349,1399808501,02/18/2021,914.0,PPS,CAL PINE DISTRIBUTORS,760 Paseo Camarillo Ste 100,Camarillo,CA,93010-6002,NaN,...,CA,Unanswered,Unanswered,NaN,2021,111331,Unanswered,Apple Orchards,Fruit and Tree Nut Farming,1113
392350,1464468601,03/13/2021,912.0,PPS,GOLD RUSH KETTLE KORN LLC,4690 E 2nd St Ste 9,Benicia,CA,94510-1008,NaN,...,CA,Male Owned,Non-Veteran,NaN,2021,722330,No,Mobile Food Services,Special Food Services,7223
392351,1534478404,02/02/2021,920.0,PPS,LAMER STREET KREATIONS CORP.,14589 Rancho Vista Dr,Fontana,CA,92335-4299,NaN,...,CA,Male Owned,Non-Veteran,NaN,2021,332710,No,Machine Shops,"Machine Shops; Turned Product; and Screw, Nut,...",3327
392352,1659308207,07/30/2020,914.0,PPP,VELOCE GALLERY LIMITED LIABILITY CO,16031 Bassett St,Van Nuys,CA,91406-4806,NaN,...,CA,Unanswered,Unanswered,NaN,2020,532111,Unanswered,Passenger Car Rental,Automotive Equipment Rental and Leasing,5321
392353,1715928603,03/13/2021,931.0,PPP,GRANITE BAY HOME INC,3115 Granite Meadows Ln,Granite Bay,CA,95746-6316,NaN,...,SD,Unanswered,Unanswered,NaN,2021,623990,Unanswered,Other Residential Care Facilities,Other Residential Care Facilities,6239

In [12]:
PPP_combined_NAICS_no_state = PPP_combined_NAICS[PPP_combined_NAICS['BorrowerState'].isna()]
PPP_combined_NAICS_no_state.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,OriginatingLenderState,Gender,Veteran,NonProfit,YearApproved,NAICS_6,Minority,LongName,IndustrySubsector,NAICS_4
0,5375617707,05/01/2020,101.0,PPP,NOT AVAILABLE,NaN,NaN,NaN,NaN,NaN,...,NC,Unanswered,Unanswered,NaN,2020,339114,Unanswered,Dental Equipment and Supplies Manufacturing,Medical Equipment and Supplies Manufacturing,3391
1,9677497701,05/01/2020,464.0,PPP,NORTH CHARLESTON HOSPITALITY GROUP LLC,192 College Park Rd,Ladson,NaN,29456-3517,NaN,...,GA,Unanswered,Unanswered,NaN,2020,nan,Unanswered,NaN,NaN,nan
2,9547167709,05/01/2020,464.0,PPP,Q AND J SERVICES LLC,301 Old Georgetown Road,Manning,NaN,29102-2734,04/20/2021,...,GA,Unanswered,Unanswered,NaN,2020,541990,Unanswered,"All Other Professional, Scientific, and Techni...","Other Professional, Scientific, and Technical ...",5419
3,6448037706,05/01/2020,515.0,PPP,OPTIMIZED PROCESS SOLUTIONS DBA AAA INDUSTRIES,24500 CAPITOL,REDFORD,NaN,48239-2446,04/16/2021,...,NC,Male Owned,Non-Veteran,NaN,2020,nan,Unanswered,NaN,NaN,nan
4,9609017706,05/01/2020,464.0,PPP,"D2 POWER SPORTS, LLC",125 Simuel Dr.,Spartanburg,NaN,29303-2085,NaN,...,GA,Unanswered,Unanswered,NaN,2020,999990,Unanswered,NaN,NaN,nan

In [35]:
PPP_combined_NAICS_CA_2020 = PPP_combined_NAICS_CA[PPP_combined_NAICS_CA['YearApproved']=='2020']
PPP_combined_NAICS_CA_2021 = PPP_combined_NAICS_CA[PPP_combined_NAICS_CA['YearApproved']=='2021']

In [36]:
#Write to CSV
PPP_combined_NAICS_CA_2020.to_csv('PPP_extract_CA_20.csv')
PPP_combined_NAICS_CA_2021.to_csv('PPP_extract_CA_21.csv')

In [14]:
#Write to CSV
PPP_combined_NAICS_no_state.to_csv('PPP_extract_no_state.csv')

## Summary data tables

In [16]:
PPP_ind_4 = pd.DataFrame(PPP_combined_NAICS.groupby(['NAICS_4','IndustrySubsector'])['JobsReported']
                          .agg(Businesses='count',Jobs='sum').sort_values(by='Businesses', ascending=False))
PPP_ind_4.reset_index(inplace=True)
PPP_ind_4.index = np.arange(1, len(PPP_ind_4) + 1)
PPP_ind_4.head(20)

,NAICS_4,IndustrySubsector,Businesses,Jobs
1,8121,Personal Care Services,658922,1689861.0
2,7225,Restaurants and Other Eating Places,489682,10487548.0
3,5416,"Management, Scientific, and Technical Consulti...",295084,1441606.0
4,2361,Residential Building Construction,291603,1264987.0
5,5617,Services to Buildings and Dwellings,288346,1752064.0
6,4841,General Freight Trucking,267549,1028859.0
7,8129,Other Personal Services,246877,904387.0
8,1121,Cattle Ranching and Farming,244751,444251.0
9,5312,Offices of Real Estate Agents and Brokers,238955,535890.0
10,1111,Oilseed and Grain Farming,231391,385768.0
11,5411,Legal Services,222238,1296530.0
12,6213,Offices of Other Health Practitioners,214149,1211095.0
13,4853,Taxi and Limousine Service,208300,292898.0
14,5419,"Other Professional, Scientific, and Technical ...",203559,1096233.0
15,8111,Automotive Repair and Maintenance,198185,1089431.0
16,6211,Offices of Physicians,194940,2033641.0
17,2382,Building Equipment Contractors,188800,2102008.0
18,6212,Offices of Dentists,172210,1463130.0
19,5412,"Accounting, Tax Preparation, Bookkeeping, and ...",166431,756958.0
20,5242,"Agencies, Brokerages, and Other Insurance Rela...",162398,640514.0

In [17]:
retail_4 = ['4411', '4412', '4413', '4421', '4422', '4431', '4441', '4442', '4451', '4452', '4453', '4461', '4471', '4481', 
            '4482', '4483', '4511', '4512', '4522', '4523', '4531', '4532', '4533', '4539', '4541', '4542', '4543']

In [18]:
PPP_combined_NAICS['NAICS_4'].dtypes

dtype('O')

In [19]:
PPP_retail_4 = PPP_ind_4[PPP_ind_4['NAICS_4'].isin(retail_4)]
PPP_retail_4

,NAICS_4,IndustrySubsector,Businesses,Jobs
21,4539,Other Miscellaneous Store Retailers,155640,773804.0
32,4481,Clothing Stores,98668,424966.0
38,4461,Health and Personal Care Stores,75349,454212.0
46,4411,Automobile Dealers,57234,1252069.0
48,4451,Grocery Stores,54302,647896.0
50,4471,Gasoline Stations,51040,494443.0
58,4543,Direct Selling Establishments,38659,182309.0
67,4452,Specialty Food Stores,31928,345181.0
73,4511,"Sporting Goods, Hobby, and Musical Instrument ...",27774,203168.0
80,4413,"Automotive Parts, Accessories, and Tire Stores",25370,228288.0
82,4441,Building Material and Supplies Dealers,24340,309851.0
86,4483,"Jewelry, Luggage, and Leather Goods Stores",21948,115061.0
90,4532,"Office Supplies, Stationery, and Gift Stores",20426,143692.0
91,4541,Electronic Shopping and Mail-Order Houses,20185,87018.0
94,4453,"Beer, Wine, and Liquor Stores",18836,119139.0
95,4422,Home Furnishings Stores,18826,144862.0
106,4431,Electronics and Appliance Stores,16365,133762.0
110,4421,Furniture Stores,15992,168943.0
118,4412,Other Motor Vehicle Dealers,14185,186558.0
124,4531,Florists,13441,69767.0
138,4533,Used Merchandise Stores,11689,98199.0
148,4523,"General Merchandise Stores, including Warehous...",10475,57485.0
154,4442,Lawn and Garden Equipment and Supplies Stores,9331,119862.0
170,4482,Shoe Stores,6756,47741.0
180,4542,Vending Machine Operators,5181,34849.0
193,4512,Book Stores and News Dealers,4527,39888.0
272,4522,Department Stores,1244,11795.0

In [20]:
personal_4 = ['8121', '8122', '8123', '8129']

In [21]:
PPP_personal_4 = PPP_ind_4[PPP_ind_4['NAICS_4'].isin(personal_4)]
PPP_personal_4

    NAICS_4                  IndustrySubsector  Businesses       Jobs
1      8121            Personal Care Services       658922  1689861.0
7      8129           Other Personal Services       246877   904387.0
60     8123  Drycleaning and Laundry Services        37611   285914.0
142    8122               Death Care Services        11322    97634.0

In [22]:
food_4 = ['7223', '7224', '7225']

In [23]:
PPP_food_4 = PPP_ind_4[PPP_ind_4['NAICS_4'].isin(food_4)]
PPP_food_4

   NAICS_4                      IndustrySubsector  Businesses        Jobs
2     7225    Restaurants and Other Eating Places      489682  10487548.0
24    7223                  Special Food Services      121519    626141.0
53    7224  Drinking Places (Alcoholic Beverages)       45735    567059.0

In [24]:
PPP_combined_minority = PPP_combined_NAICS[PPP_combined_NAICS['Minority']=='Yes']
PPP_combined_minority.head(10)

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,OriginatingLenderState,Gender,Veteran,NonProfit,YearApproved,NAICS_6,Minority,LongName,IndustrySubsector,NAICS_4
67,9774097701,05/01/2020,101.0,PPP,SUNKISSBIZ LLC,NaN,NaN,NaN,NaN,NaN,...,OH,Unanswered,Unanswered,NaN,2020,611610,Yes,Fine Arts Schools,Other Schools and Instruction,6116
98,5948987700,05/01/2020,460.0,PPP,LAW OFFICE NEELAM BHARDWAJ PLLC,5510 W FRIENDLY AVE,GREENSBORO,NaN,27410-4212,04/16/2021,...,NC,Female Owned,Non-Veteran,NaN,2020,541110,Yes,Offices of Lawyers,Legal Services,5411
133,1786207807,05/21/2020,NaN,PPP,Exemption 6,NaN,NaN,NaN,NaN,02/23/2021,...,NaN,Female Owned,Non-Veteran,NaN,2020,561720,Yes,Janitorial Services,Services to Buildings and Dwellings,5617
136,6808807804,06/02/2020,9030.0,PPP,SIMPUER CORP,PSC 81 BOX 138,APO,AE,09724,NaN,...,VA,Male Owned,Non-Veteran,NaN,2020,541512,Yes,Computer Systems Design Services,Computer Systems Design and Related Services,5415
137,4805558400,02/06/2021,9030.0,PPS,SIMPUER CORP,PSC 81 Box 138,APO,AE,09724-0002,02/06/2021,...,VA,Male Owned,Non-Veteran,NaN,2021,541512,Yes,Computer Systems Design Services,Computer Systems Design and Related Services,5415
172,4733767310,04/30/2020,1084.0,PPP,RUPINDER ALASKA INCORPORATED,115 E. 3rd Ave.,ANCHORAGE,AK,99501,NaN,...,CA,Male Owned,Non-Veteran,NaN,2020,721110,Yes,Hotels (except Casino Hotels) and Motels,Traveler Accommodation,7211
195,9648258500,03/12/2021,1084.0,PPS,SMILE LLC,850 S Roberts St,Wasilla,AK,99654-8206,NaN,...,CA,Female Owned,Unanswered,NaN,2021,722511,Yes,Full-Service Restaurants,Restaurants and Other Eating Places,7225
210,5426598308,01/25/2021,1084.0,PPS,SPALDING DENTAL LLC,2525 Gambell St Ste 304,Anchorage,AK,99503-2838,NaN,...,AK,Female Owned,Non-Veteran,NaN,2021,621210,Yes,Offices of Dentists,Offices of Dentists,6212
219,8620547708,05/01/2020,1084.0,PPP,"ARCTIC FIRE &AMP; SECURITY, LLC",7133 Arctic Boulevard 15,Anchorage,AK,99518,NaN,...,NJ,Male Owned,Non-Veteran,NaN,2020,561621,Yes,Security Systems Services (except Locksmiths),Investigation and Security Services,5616
263,8503297205,04/28/2020,1084.0,PPP,"C&C CUSTODIAL SERVICES, INC.","PO Box 33654 8465 Old Dairy Road, Suite 104-105",Juneau,AK,99803,NaN,...,AK,Female Owned,Non-Veteran,NaN,2020,561720,Yes,Janitorial Services,Services to Buildings and Dwellings,5617

In [25]:
PPP_minority_ind_4 = pd.DataFrame(PPP_combined_minority.groupby(['NAICS_4','IndustrySubsector'])['JobsReported']
                          .agg(Businesses='count',Jobs='sum').sort_values(by='Businesses', ascending=False))
PPP_minority_ind_4.reset_index(inplace=True)
PPP_minority_ind_4.index = np.arange(1, len(PPP_minority_ind_4) + 1)
PPP_minority_ind_4.head(20)

,NAICS_4,IndustrySubsector,Businesses,Jobs
1,8121,Personal Care Services,159142,281349.0
2,7225,Restaurants and Other Eating Places,62471,1015586.0
3,8129,Other Personal Services,54681,113054.0
4,4841,General Freight Trucking,53119,116531.0
5,5617,Services to Buildings and Dwellings,44215,148829.0
6,2361,Residential Building Construction,40795,99570.0
7,4853,Taxi and Limousine Service,32920,39910.0
8,5416,"Management, Scientific, and Technical Consulti...",31828,113240.0
9,4539,Other Miscellaneous Store Retailers,25737,63308.0
10,7223,Special Food Services,25653,60749.0
11,4481,Clothing Stores,24378,52436.0
12,6211,Offices of Physicians,23419,150911.0
13,7211,Traveler Accommodation,22689,240505.0
14,5312,Offices of Real Estate Agents and Brokers,21247,38925.0
15,6244,Child Day Care Services,21020,124196.0
16,5419,"Other Professional, Scientific, and Technical ...",21013,77002.0
17,8111,Automotive Repair and Maintenance,19914,76236.0
18,5242,"Agencies, Brokerages, and Other Insurance Rela...",18292,41116.0
19,5412,"Accounting, Tax Preparation, Bookkeeping, and ...",18182,58079.0
20,7115,"Independent Artists, Writers, and Performers",17229,23176.0

In [26]:
PPP_minority_retail_4 = PPP_minority_ind_4[PPP_minority_ind_4['NAICS_4'].isin(retail_4)]
PPP_minority_retail_4

,NAICS_4,IndustrySubsector,Businesses,Jobs
9,4539,Other Miscellaneous Store Retailers,25737,63308.0
11,4481,Clothing Stores,24378,52436.0
25,4461,Health and Personal Care Stores,13718,47588.0
36,4451,Grocery Stores,7966,69908.0
39,4471,Gasoline Stations,7713,53540.0
58,4411,Automobile Dealers,4167,32435.0
62,4452,Specialty Food Stores,3829,31700.0
66,4543,Direct Selling Establishments,3447,7900.0
78,4541,Electronic Shopping and Mail-Order Houses,2722,6443.0
82,4453,"Beer, Wine, and Liquor Stores",2413,11621.0
88,4413,"Automotive Parts, Accessories, and Tire Stores",2006,10048.0
93,4483,"Jewelry, Luggage, and Leather Goods Stores",1842,7550.0
94,4532,"Office Supplies, Stationery, and Gift Stores",1785,8485.0
95,4511,"Sporting Goods, Hobby, and Musical Instrument ...",1755,8922.0
99,4431,Electronics and Appliance Stores,1592,11005.0
104,4523,"General Merchandise Stores, including Warehous...",1395,5149.0
112,4482,Shoe Stores,1213,3534.0
114,4441,Building Material and Supplies Dealers,1142,9152.0
124,4421,Furniture Stores,1022,8146.0
131,4422,Home Furnishings Stores,921,5600.0
132,4531,Florists,920,3828.0
156,4533,Used Merchandise Stores,591,2913.0
165,4542,Vending Machine Operators,492,1238.0
170,4412,Other Motor Vehicle Dealers,422,3038.0
196,4512,Book Stores and News Dealers,300,2422.0
198,4442,Lawn and Garden Equipment and Supplies Stores,291,2528.0
244,4522,Department Stores,148,750.0

In [27]:
PPP_combined_NAICS['YearApproved'].unique()

array(['2020', '2021'], dtype=object)

In [28]:
#Extract for 2021 approvals only 
PPP_combined_2021 = PPP_combined_NAICS[PPP_combined_NAICS['YearApproved']=='2021']
PPP_combined_2021.head(10)

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,OriginatingLenderState,Gender,Veteran,NonProfit,YearApproved,NAICS_6,Minority,LongName,IndustrySubsector,NAICS_4
87,7834068605,03/24/2021,NaN,PPS,Exemption 6,NaN,NaN,NaN,NaN,NaN,...,NaN,Female Owned,Non-Veteran,NaN,2021,541690,No,Other Scientific and Technical Consulting Serv...,"Management, Scientific, and Technical Consulti...",5416
137,4805558400,02/06/2021,9030.0,PPS,SIMPUER CORP,PSC 81 Box 138,APO,AE,09724-0002,02/06/2021,...,VA,Male Owned,Non-Veteran,NaN,2021,541512,Yes,Computer Systems Design Services,Computer Systems Design and Related Services,5415
138,3050688803,04/13/2021,9030.0,PPP,UNITED EXPEDITIONARY GROUP LLC,BOX 6194 6194 PSC 1203,APO,AE,09803,NaN,...,OH,Unanswered,Unanswered,NaN,2021,561110,Unanswered,Office Administrative Services,Office Administrative Services,5611
139,9295828607,03/25/2021,1084.0,PPP,PETROLEUM CLUB OF ANCHORAGE,3301 C St,Anchorage,AK,99503-3941,NaN,...,AK,Unanswered,Unanswered,Y,2021,722511,Unanswered,Full-Service Restaurants,Restaurants and Other Eating Places,7225
140,9878158402,02/18/2021,1084.0,PPS,THE ALLIANCE FOR THE SUPPORT OF AMERICAN LEGIO...,1120 Huffman Rd # 571,Anchorage,AK,99515-3516,NaN,...,AK,Male Owned,Unanswered,Y,2021,813410,Unanswered,Civic and Social Organizations,Civic and Social Organizations,8134
142,3447128307,01/22/2021,1084.0,PPS,ALASKA COASTAL MARINE SERVICE CO.,336 Kobuk Ct,Soldotna,AK,99669-7839,NaN,...,AK,Male Owned,Veteran,NaN,2021,487210,No,"Scenic and Sightseeing Transportation, Water","Scenic and Sightseeing Transportation, Water",4872
143,2216698301,01/20/2021,1084.0,PPS,RIVERVIEW STAFFING LLC,3264 Riverview Dr,Fairbanks,AK,99709-4740,NaN,...,AK,Unanswered,Unanswered,NaN,2021,561330,Unanswered,Professional Employer Organizations,Employment Services,5613
144,6430948401,02/10/2021,1084.0,PPS,SUPREME ELECTRIC LLC,5011 Spenard Rd Ste 203,Anchorage,AK,99517-3320,NaN,...,AK,Unanswered,Unanswered,NaN,2021,238210,Unanswered,Electrical Contractors and Other Wiring Instal...,Building Equipment Contractors,2382
146,2784948607,03/15/2021,1084.0,PPS,REECIA WILSON,406 S Franklin St,Juneau,AK,99801-1391,NaN,...,AK,Female Owned,Unanswered,NaN,2021,722410,Unanswered,Drinking Places (Alcoholic Beverages),Drinking Places (Alcoholic Beverages),7224
147,9764218605,03/26/2021,1084.0,PPS,C&T FIRE PROTECTION INC.,907 E Dowling Rd Ste 13,Anchorage,AK,99518-1426,NaN,...,AK,Female Owned,Non-Veteran,NaN,2021,922160,No,Fire Protection,"Justice, Public Order, and Safety Activities",9221

In [29]:
PPP_ind_4_2021 = pd.DataFrame(PPP_combined_2021.groupby(['NAICS_4','IndustrySubsector'])['JobsReported']
                          .agg(Businesses='count',Jobs='sum').sort_values(by='Businesses', ascending=False))
PPP_ind_4_2021.reset_index(inplace=True)
PPP_ind_4_2021.index = np.arange(1, len(PPP_top_ind) + 1)
PPP_ind_4_2021.head(20)

NameError: name 'PPP_top_ind' is not defined

In [ ]:
PPP_retail_4_2021 = PPP_ind_4_2021[PPP_ind_4_2021['NAICS_4'].isin(retail_4)]
PPP_retail_4_2021

In [ ]:
PPP_combined_minority_2021 = PPP_combined_2021[PPP_combined_2021['Minority']=='Yes']
PPP_combined_minority_2021.head(10)

In [ ]:
PPP_minority_ind_4_2021 = pd.DataFrame(PPP_combined_minority_2021.groupby(['NAICS_4','IndustrySubsector'])['JobsReported']
                          .agg(Businesses='count',Jobs='sum').sort_values(by='Businesses', ascending=False))
PPP_minority_ind_4_2021.reset_index(inplace=True)
PPP_minority_ind_4_2021.index = np.arange(1, len(PPP_minority_ind_4_2021) + 1)
PPP_minority_ind_4_2021.head(20)

In [ ]:
PPP_minority_retail_4_2021 = PPP_minority_ind_4_2021[PPP_minority_ind_4_2021['NAICS_4'].isin(retail_4)]
PPP_minority_retail_4_2021